<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Android Test Suite" parallel="false">
    <test name="test1">
        <classes>
            <class name="tests.AppTest"/>
        </classes>
    </test>

<!--    <test name="test2">-->
<!--        <classes>-->
<!--            <class name="tests.Pharmacy"/>-->
<!--        </classes>-->
<!--    </test>-->
</suite>
