<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Android Test Suite">
<!--    <test name="test1">-->
<!--        <classes>-->
<!--            <class name="tests.AppTest"/>-->
<!--        </classes>-->
<!--    </test>-->

    <test name="interact">
        <classes>
            <class name="tests.Interact"/>
<!--            <class name="tests.AppTest"/>-->
        </classes>
    </test>
</suite>
